# Core ML & Data
scikit-learn
pandas
numpy
scipy

# Models
xgboost
lightgbm

# Visualization
matplotlib
seaborn
plotly

# Dashboard
streamlit
streamlit-chat
streamlit-option-menu

# Agents
langchain
openai
chromadb


# API
fastapi
uvicorn[standard]
pydantic

# Utilities
python-dotenv
pyyaml
joblib